<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10715.0" targetFramework="net40" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="Modernizr" version="1.7" />
  <package id="Moment.js" version="1.6.2" targetFramework="net40" />
  <package id="OrigoDB.Core" version="0.18.0-beta" targetFramework="net40" />
  <package id="T4Scaffolding" version="1.0.6" targetFramework="net40" />
  <package id="XSockets" version="1.0.3.3" targetFramework="net40" />
  <package id="XSockets.DevelopmentServer" version="1.0.7.3" targetFramework="net40" />
  <package id="XSockets.JsApi" version="1.0.6.2" targetFramework="net40" />
  <package id="XSockets.Tutorials" version="0.5" targetFramework="net40" />
</packages>