@{
    ViewBag.Title = "Api";
    Html.RenderPartial("AlternateCSS");
}
<div>
    <style>
        div,h1,h2,h3{ color: #333333;}
        h1{font-size:3.2em}
        h2 {font-size:2.4em}
        h3{ font-size:1.6em}
        em{font-style:italic}
    .code { font-family: monospace;font-size: small;padding: 10px;color: black;line-height: 1.8em;}
    </style>
    <div class="meta">
    </div>
    <h1>Api</h1>
    <p>
        This service is free for non-commercial use and requires no api key. There are no limits implemented, please be nice!
    </p>
    <p>
        All calls are made with HTTP GET method and return json.
    </p>
    <h2>Search</h2>
    <p>
        Search returns items containing all the search words ordered by popularity (default) or by date published.
        </p>
        <h3>Syntax</h3>
        <div class="meta code">
            /api/v1/search/<em>search-string</em><br/>
            /api/v1/search/<em>search-string</em>/popular<br/>
            /api/v1/search/<em>search-string</em>/recent<br/>
        </div>
        <h3>Example</h3>
        <div class="meta code">
            GET http://geekstream.devrex.se/api/v1/search/cqrs+ddd
        </div>
        <h3>Result</h3>
        <div class="meta code">
            
        </div>
    <h2>Recent items</h2>
    <h2>Popular items</h2>
</div>