@model GeekStream.Core.Domain.Statistics


@{
    ViewBag.Title = "About";
}

<div style="margin-top: 40px;line-height: 160%;text-align:justify">
    <h2>What is Geekstream?</h2>
    GeekStream is a tech blog search engine built to demonstrate <a href="http://github.com/devrexlabs/origodb">OrigoDB</a>. 
    It's not meant to be useful as a service in any way. The content is based on a number of tech-related news and
    blog RSS sources which were gathered ramdomly, see below for some statistics.
    
    <h2>Build faster systems faster</h2>
    <p>
        OrigoDB is an in-memory database toolkit for NET/Mono. Discover more here:
        <ul>
            <li><a href="http://origodb.com">OrigoDB Server</a></li>
            <li><a href="http://github.com/devrexlabs/origodb">OrigoDB open source engine</a></li>
            <li><a href="https://github.com/devrexlabs/geekstream">Geekstream source on GitHub</a></li>
        </ul>
    </p>

    <h2>Under the hood</h2>
    Geekstream is an ASP.NET MVC application running on IIS. A standalone OrigoDB server instance running on the same machine hosts the data.
    The web application does not cache any data, every request triggers a call to the database. Each result page displays the time taken for the query.


    <h2>Statistics</h2>
    <p>
        Some current statistics from the database:
    </p>
    <table class="table table-bordered">
        <tr>
            <td>Number of feeds</td>
            <td>@Model.TotalFeeds</td>
        </tr>
                <tr>
            <td>Number of articles</td>
            <td>@Model.TotalFeedItems</td>
        </tr>
                <tr>
            <td>Unique search terms</td>
            <td>@Model.UniqueKeywords</td>
        </tr>
                <tr>
            <td>Number of edges</td>
            <td>@Model.TotalKeywords</td>
        </tr>

    </table>
</div>
