        <div style="border-top: 1px solid #999999; display: block;clear:both;text-align: center;padding-top:15px;">
            
            &copy; Devrex Labs | An experiment powered by <a title="Powered by OrigoDB" href="http://origodb.com/" target="_blank">OrigoDB</a> | Source on <a href="http://github.com/devrexlabs/geekstream">Github</a>
        </div>
